{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="/home.css">

<h1 class="con">자유 게시판</h1>
<section class="article-list table-common con">
    <table border="0">
        <thead>
            <tr>
                <th>탭</th>
                <th class="title">제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
                <th>조회</th>
                <th>추천</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>내용1</td>
                <td>내용2</td>
                <td>내용3</td>
                <td>내용4</td>
                <td>내용5</td>
                <td>내용6</td>
            </tr>
            <tr>
                <td>내용1</td>
                <td>내용2</td>
                <td>내용3</td>
                <td>내용4</td>
                <td>내용5</td>
                <td>내용6</td>
            </tr>
            <tr>
                <td>내용1</td>
                <td>내용2</td>
                <td>내용3</td>
                <td>내용4</td>
                <td>내용5</td>
                <td>내용6</td>
            </tr>
            <tr>
                <td>내용1</td>
                <td>내용2</td>
                <td>내용3</td>
                <td>내용4</td>
                <td>내용5</td>
                <td>내용6</td>
            </tr>
            <tr>
                <td>내용1</td>
                <td>내용2</td>
                <td>내용3</td>
                <td>내용4</td>
                <td>내용5</td>
                <td>내용6</td>
            </tr>
        </tbody>
    </table>
</section>

<footer></footer>
{% endblock %}